<div class="listings-wrapper">
  <app-filter (category)="getCategory($event)"></app-filter>

  <div class="content">
    <div class="products-wrapper">
      <div
        *ngFor="let product of products | slice: pagestart:page"
        class="products"
      >
        <app-card [product]="product"></app-card>
      </div>
    </div>
    <div class="pagination">
      <app-pagination
        [pageNumber]="products.length >= 10 ? products.length : 10"
        (page)="getpage($event)"
      ></app-pagination>
    </div>
  </div>
</div>
