.filter-wrapper {
  width: 282px;
  height: 563px;
  background: #ffffff;
  border: 0.5px solid #424242;
  border-radius: 8px;
  padding: 10px;
  .choices {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
  }
}
